<br>
<div class="wierszyk">
<i>
&ldquo;Ja, Kinga Kamińska i Ja, Piotr Wojciechowski <br>
Już wkrótce powiemy sobie "TAK". <br>
22 sierpnia 2015 roku o godzinie 15:30 <br>
w podniosłej atmosferze staniemy <br>
przed ołtarzem Parafii Miłosierdzia Bożego w Otwocku <br>
i wypowiemy tekst przysięgi małżeńskiej. <br>
Wszystkich Przyjaciół, którzy chcieliby <br>
dzielić z nami radość tej niezwykłej chwili <br>
serdecznie zapraszamy. <br>
Będzie to jeden z najważniejszych dni w naszym życiu!&rdquo;<br>
</i>
</div>