/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *
 *= require_tree .
 *= require_self
 */

html{
	height:100%;
}

body{
	background-color: #d4bb6c;
	height: 100%;
	padding: 5px;
}

#container {
	margin-right:auto;
	margin-left:auto;
	width: 700px;
	min-height: calc(100% - 50px);
	background-color: #e6d7a9;
	box-shadow: 10px 10px 10px 5px #888888;
	margin-bottom: 40px;
}

#flowers{
	width: 100%;
	height: 100%;
}

#flowers_div{
	height: 300px;
}

#menu{
	width: 100%;
}

#data{
	width: 100%;
	padding: 10px;
	padding-top: 30px;
	clear: both;
}

#menu ul {
    float: center;
    width: 100%;
    padding: 0;
    margin: 0;
    list-style-type: none;

}

#menu li a {
    float: center;
    font-size: 1em;
    color: white;
    background-color: purple;
    padding: 1em 1em 1em 1em;
    border: 1px solid black;
    text-decoration: none;
}

#menu a:hover {
    background-color: fuchsia;
}

#menu li {
    display: inline;
}

fieldset{
	width: 655px;
}

.hidden{
	display: none;
}

#map-canvas {
	width: 500px;
    height: 400px;
    margin-left: auto;
    margin-right: auto;
    display: block;
}

.wierszyk {
	text-align: center;
	font-family: serif;
	font-size: 150%;
	line-height: 150%;
}

.wierszyk2 {
	text-align: center;
	font-family: serif;
	font-size: 120%;
	line-height: 150%;
}

.books_table table {
	width: 100%;
}

.books_table th, td {
	width: 33%;
	padding: 5px;
	text-align: left;
}

.books_table_admin table {
	width: 100%;
}

.books_table_admin th, td {
	width: 25%;
	padding: 5px;
	text-align: left;
}

.reservations_table table {
	width: 100%;
}

.reservations_table th, td {
	width: 25%;
	padding: 5px;
}

#photo_div{
	text-align: center;
}

#photo{
	width: 70%;
}